/* Estilo grupo  */
*{
    font-family: arial, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

#logo {
  font-size: 14px;
  color: #000;
  
}
#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fcf113;
}
#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  margin-top: 0;

}
#menu a {
  display: block;
  padding: 0.5rem;
  color: #000;
}

#btn-mobile {
  display: none;
}
@media (max-width: 680px) {
  #menu {
    display: block;

    position: absolute;
    width: 100%;
    top: 70px;
    right: 0;
    background: #eee;
    height: 0px;
    transition: 0.6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    /* display: flex; */
    height: calc(100vh - 70px);
    /* display: block; */
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid #E0E0E0;
    text-align:center;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 14px;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburguer {
    display: block;
    border-top: 3px solid #000;
    width: 20px;
  }
  #hamburguer::after,
  #hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background: #000;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburguer {
    border-top-color: transparent;
  }
  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}



h1 {
  font-size: 12px;
  text-align: left;
  color: black;
  margin-left: 10px;
}
.topmenu {
  padding: 10px;
}
.iconomenu {
  width: 20px;
  float: right;
  margin-right: 10px;
  margin-top: 8px;
}
.menu {
  background-color: #fcf113;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #fff;
  top: 0;
  position: sticky;
  z-index: 100;
}
.menu ul {
  display: none;
}
body ::selection,
html ::selection {
  background: #fcf113;
}
footer {
  background-color: #fcf113;
  margin: 0;
  color: black;
  text-align: center;
  font-size: 12px;
  padding-top: 50px;
  padding-bottom: 5px;
}

/* Estilo Jennifer García - Jen */


.comp-jen {
  width: 95%;
  text-align: center;
  margin: auto;
  overflow: hidden; 
}

.comp-jen .list-faqs img{
    width: 100% !important;
}
.comp-jen-boton-fact {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
}

.comp-jen-boton-fact {
  /*width: 220px;*/
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: black;
  background: #fcf113;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 0px;
  border: 1px solid black;
}

.comp-jen-boton-fact:hover {
  transition: 1s ease-in-out;
  background: white;
}

.comp-jen-boton-fact:hover svg {
  stroke-dashoffset: -480;
}

.comp-jen-boton-fact span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.h2comp-jen {
  font-family: georgia, serif;
  font-weight: 100;
  font-size: 40px;
  margin-bottom: 0.2em;
  text-align: center;
}

.pcomp-jen {
  font-family: georgia, serif;
  color: black;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 16px;
  text-align: center;
}

.h4comp-jen {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #000;
  font-weight: 500;
}

.h3-work {
  font-family: georgia, serif;
  font-weight: 100;
  font-size: 25px;
  margin-bottom: 0.2em;
  line-height: 35px;
  margin-top: 40px;
}

.textocopy-jen {
  font-size: 16px;
  line-height: 26px;
  font-family: georgia, serif;
  font-weight: 400;
}

.cajaboton-fact-jen {
  margin-top: 20px;
  padding: 12px;
  cursor: pointer;
  display: inline-block;
}

.linea-jen {
  margin-top: 40px;
  height: 2px;
  background-color: black;
  border: none;
}
.linea-jen-img {
  margin: 0px;
  padding: 0;
  height: 12px;
  background-color: #fcf113;
  border: none;
}
.black-line {
  height: 4px;
  background-color: black;
  border: none;
  width: 20%;
  display: inline-block;
}

.linea-jen-yellow {
  margin-top: 40px;
  height: 2px;
  background-color: black;
  border: none;
}

@media only screen and (min-width: 768px) {
  /*estilos jen DESKTOP*/

  .list-faqs {
    list-style: none;
  }

  .tprevio {
    padding-bottom: 25px;
  }

  body {
    max-width: 100%;
    border: none;
  }

  .list-faqs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 0 50px 0px 50px;
    margin-bottom: 60px;
  }

  .list-faqs img {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  .square-jen {
    background-color: #fcf113;
    padding: 20px;
  }
}

@media only screen and (max-width: 768px) {
  /*estilos jen MOB*/

  .linea-jen-img {
    margin: 0px;
    margin-top: -4px;
    height: 12px;
    background-color: #fcf113;
    border: none;
    /*width: 360px;*/
  }
  .square-jen {
    background-color: #fcf113;
    padding: 20px;
    /*width: 320px;*/
  }

  .list-faqs {
    display: grid;
    grid-gap: 1rem;
    padding: 0 50px 0px 50px;
    margin-bottom: 60px;
  }
}

/* Estilos kate */

.comp-kate {
  width: 95%;
  max-width: 1443px;
  text-align: center;
  margin: auto;
  overflow: hidden;
}
.h2-kate {
  font-family: georgia, serif;
  font-weight: 200;
  font-size: 40px;
  margin-bottom: 0.2em;
  text-align: center;
}
.linea {
  width: 100px;
  height: 5px;
  background-color: black;
}
.p1-kate {
  font-family: georgia, serif;
  font-size: 17px;
  letter-spacing: -0.5px;
  text-align: center;
  font-style: italic;
  color: #262c30;
}
.p2-kate {
  font-family: georgia, serif;
  font-weight: 100;
  font-size: 35px;
  text-align: center;
  padding: 0 50px;
}
.contenedor {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 100%;
  grid-gap: 5px;
  padding: 20px 50px;
}
.about-fact {
  background: #edeae8;
  margin: 15px;
  padding: 35px 15px;
  text-align: center;
}
.h3-kate {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: 500;
}
.p3-kate {
  font-family: Times, serif;
  font-size: 100px;
  line-height: 5px;
  letter-spacing: -3px;
}
.contenedor-boton {
  margin:0 400px;
  border: 1px solid #a2aeb6;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}
.contenedor-boton:hover {
  background-color: #fcf113;
  border-radius: 50px;
  border-color: #fcf113;
}
.contenedor-boton:active{
  transform: scale(0.95, 0.95);
}
.a-boton-fact {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
  color: #000;
}
.contenedor-ourstory {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 400px;
  padding-top: 50px;
}
.contenedor-ourstory-texto {
  background: #fcf113;
  padding: 10px 40px;
}
.h4-kate {
  font-family: georgia, serif;
  font-size: 35px;
  font-weight: 100;
  text-align: left;
}
.contenedor-ourstory-texto .p1-kate {
  text-align: left;
  font-style: normal;
  line-height: 25px;
}
.imagen-ourstory {
  height: 100%;
  width: auto;
}
.whoweare .h4-kate {
  text-align: center;
}
.whoweare .p1-kate {
  font-style: normal;
  line-height: 25px;
  margin-top: -10px;
  
}
.ul-topics {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 100%;
  grid-gap: 5px;
  padding:0 50px;
}
.contenedor-topics .p1-kate {
  padding: 0;
}
.lista-topics {
  padding: 0px 15px;
  list-style: none;
  text-align: left;
}
.contenedor-topics .h4-kate,
.contenedor-topics .p1-kate {
  text-align: left;
}

.aejemplos {
  text-align: left;
  font-size: 0.8em;
  background-color: #fcf113;
  padding: 5px 10px;
  color: #000;
  text-decoration: none;
}
.aejemplos:hover{
  text-decoration-line:underline ;
}

@media only screen and (max-width: 768px) {
  .contenedor {
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .contenedor-ourstory {
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .h4-kate {
    text-align: center;
  }
  .contenedor-ourstory .contenedor-ourstory-texto .p1-kate {
    text-align: center;
  }
  .imagen-ourstory {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    width: 100%;
  }
  .ul-topics {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin: 30px;
  }
  .contenedor-boton{
    margin:0 100px;
  }
  
}


/* LAU */

.FAQs{
    width: 95%;
    margin: 0 auto;
}

.a-leermas {
  background-color: transparent;
  border: 2px solid black;
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: 0.8em;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  color: black;
  padding: 10px;
  width: 100px;
  text-decoration: none;
  margin-bottom: 50px;
}

.a-nimation:hover:before {
  right: auto;
  width: 100%;
  left: 0%;
}
.a-nimation:before {
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  position: absolute;
  background: #fcf113;
  display: block;
  height: 100%;
  z-index: -1;
  content: "";
  right: 0px;
  width: 0px;
  top: 0px;
}

.h3-faq {
  font-family: georgia, serif;
  font-weight: 100;
  font-size: 35px;
  margin-bottom: 0.2em;
  line-height: 40px;
  margin-top: 0;
}
.h2comp-lau {
  font-family: georgia, serif;
  font-weight: 100;
  font-size: 40px;
  margin-bottom: 0.2em;
  text-align: center;
}
.pcomp-lau {
  font-family: georgia, serif;
  color: black;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 16px;
  text-align: center;
}

.block {
  display: block;
  margin-top: 20px;
}

.list-faqs {
  list-style: none;
}

@media only screen and (max-width: 768px) {
     /*estilos lau MOB*/
  img {
    max-width: 100%;
  }
  .p-respuesta {
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 24px;
    color: #262c30;
    padding-bottom: 5px;
  }
  .tprevio {
    padding-bottom: 25px;
  }
  .separador-question {
    border-bottom: 3px solid #000;
    margin-bottom: 50px;
    padding-bottom: 0px;
  }
  .separador-question img {
    margin: 0 auto;
    display: block;
  }
  .a-leermas {
    width: 20px;
    border: 1px solid black;
  }

  .txtbtn:before {
    content: "+";
  }

}

@media only screen and (min-width: 768px) {
  /* Estilos lau DESKTOP */
  body {
    max-width: 100%;
    border: none;
  }

  .list-faqs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 0 50px 0px 50px;
  }
  .separador-question {
    padding: 0 15px;
  }

  

  .FAQs img {
    width: 50%;
    margin: 0 auto;
    display: block;
  }

  .p-respuesta {
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 24px;
    color: #262c30;
    padding-bottom: 5px;
  }
  .txtbtn:before {
    content: "Leer más";
  }
}
